/* Configura foto */
.foto-perfil {
    width: 150px;
    height: 150px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Configurar o cabeçalho do projeto */